.mainBox {
  position: relative;
}
.mainBox header {
  position: relative;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 999;
}
.mainBox header .logo {
  float: left;
  height: 100%;
  margin-left: 3.5%;
  display: table;
}
.mainBox header .logo a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.mainBox header .logo a img {
  display: block;
  height: 50%;
}
.mainBox header .miscellaneous {
  float: right;
  height: 100%;
  margin-right: 3.5%;
  display: table;
}
.mainBox header .miscellaneous .mid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.mainBox header .miscellaneous .mid .menus {
  width: 36px;
  -webkit-transition: all .4s ease 0s;
          transition: all .4s ease 0s;
  height: 28px;
  position: relative;
  cursor: pointer;
}
.mainBox header .miscellaneous .mid .menus i {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000000;
  position: absolute;
  -webkit-transition: all .6s ease .2s;
          transition: all .6s ease .2s;
}
.mainBox header .miscellaneous .mid .menus i.is1:before,
.mainBox header .miscellaneous .mid .menus i.is1:after {
  -webkit-transition: all .4s ease 0s;
          transition: all .4s ease 0s;
}
.mainBox header .miscellaneous .mid .menus i.is1 {
  left: 0;
  top: 0;
}
.mainBox header .miscellaneous .mid .menus i.is2 {
  left: 0;
  bottom: 0;
}
.mainBox header .miscellaneous .mid .menus i.is1:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -12px;
  width: 40%;
  height: 100%;
  background-color: inherit;
}
.mainBox header .miscellaneous .mid .menus i.is1:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: -12px;
  width: 40%;
  height: 100%;
  background-color: inherit;
}
.mainBox header .miscellaneous .mid .menus:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.mainBox header .miscellaneous .mid .menus:hover i {
  background-color: #03618D;
}
.mainBox header .miscellaneous .mid .menus:hover i:after,
.mainBox header .miscellaneous .mid .menus:hover i:before {
  background-color: #03618D;
}
.mainBox header .miscellaneous .mid .menus.active i.is1 {
  -webkit-transform: rotate(45deg) translate3d(8px, 9px, 0);
          transform: rotate(45deg) translate3d(8px, 9px, 0);
}
.mainBox header .miscellaneous .mid .menus.active i.is2 {
  left: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg) translate3d(8px, -9px, 0);
          transform: rotate(-45deg) translate3d(8px, -9px, 0);
}
.mainBox header .miscellaneous .mid .menus.active i.is1:before {
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  opacity: 0;
}
.mainBox header .miscellaneous .mid .menus.active i.is1:after {
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
}
.mainBox .phoneNav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99999;
  padding-top: 3%;
  background-color: #000;
  box-sizing: border-box;
  -webkit-transition: all 1s ease-in-out 0s;
          transition: all 1s ease-in-out 0s;
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
}
.mainBox .phoneNav .gb {
  width: 55px;
  height: 55px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.mainBox .phoneNav .gb span {
  display: inline-block;
  width: 55px;
  height: 1px;
  border-top: 1px solid #8F8F8F;
  position: relative;
}
.mainBox .phoneNav .gb span.sp1 {
  -webkit-transform: rotate(45deg) translate3d(20px, 20px, 0);
          transform: rotate(45deg) translate3d(20px, 20px, 0);
}
.mainBox .phoneNav .gb span.sp2 {
  -webkit-transform: rotate(-45deg) translate3d(-8px, 6px, 0);
          transform: rotate(-45deg) translate3d(-8px, 6px, 0);
}
.mainBox .phoneNav .gb span:after {
  position: absolute;
  content: '';
  left: 0;
  top: -1px;
  width: 0%;
  height: 100%;
  border-top: 1px solid #fff;
  -webkit-transition: all .8s ease 0s;
          transition: all .8s ease 0s;
}
.mainBox .phoneNav .gb:hover span:after {
  width: 100%;
}
.mainBox .phoneNav nav {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.mainBox .phoneNav nav li {
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
  opacity: 0;
}
.mainBox .phoneNav nav li a {
  display: block;
  width: 100%;
  font-size: 26px;
  color: #fff;
  position: relative;
  z-index: 9;
}
.mainBox .phoneNav nav li:nth-of-type(1) {
  -webkit-transition: all .8s ease 1s;
          transition: all .8s ease 1s;
}
.mainBox .phoneNav nav li:nth-of-type(2) {
  -webkit-transition: all .8s ease 1.15s;
          transition: all .8s ease 1.15s;
}
.mainBox .phoneNav nav li:nth-of-type(3) {
  -webkit-transition: all .8s ease 1.3s;
          transition: all .8s ease 1.3s;
}
.mainBox .phoneNav nav li:nth-of-type(4) {
  -webkit-transition: all .8s ease 1.45s;
          transition: all .8s ease 1.45s;
}
.mainBox .phoneNav nav li:nth-of-type(5) {
  -webkit-transition: all .8s ease 1.6s;
          transition: all .8s ease 1.6s;
}
.mainBox .phoneNav nav li:nth-of-type(6) {
  -webkit-transition: all .8s ease 1.75s;
          transition: all .8s ease 1.75s;
}
.mainBox .phoneNav nav li:nth-of-type(7) {
  -webkit-transition: all .8s ease 1.9s;
          transition: all .8s ease 1.9s;
}
.mainBox .phoneNav nav li:nth-of-type(8) {
  -webkit-transition: all .8s ease 2.05s;
          transition: all .8s ease 2.05s;
}
.mainBox .phoneNav nav li:nth-of-type(9) {
  -webkit-transition: all .8s ease 2.2s;
          transition: all .8s ease 2.2s;
}
.mainBox .phoneNav nav a,
.mainBox .phoneNav nav a:after {
  -webkit-transition: all 1s ease 0s;
          transition: all 1s ease 0s;
}
.mainBox .phoneNav nav a:after {
  position: absolute;
  content: '';
  left: 0%;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}
.mainBox .phoneNav nav a:hover {
  color: #000;
}
.mainBox .phoneNav nav a:hover:after {
  width: 100%;
}
.mainBox .phoneNav nav .fenXis {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  display: none !important;
  opacity: 0;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: all .8s ease 2.05s;
          transition: all .8s ease 2.05s;
}
.mainBox .phoneNav nav .fenXis a {
  width: auto !important;
  display: inline-block !important;
  font-size: 25px;
  color: #5E5E5E !important;
  margin: 0 10px;
  line-height: 0%;
}
.mainBox .phoneNav nav .fenXis a:after {
  display: none;
}
.mainBox .phoneNav nav .fenXis a:first-child {
  font-size: 22px;
}
.mainBox .phoneNav nav .fenXis a:hover {
  color: #fff !important;
}
.mainBox .phoneNav.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.mainBox .phoneNav.active li {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}
.mainBox .phoneNav .active .fenXis {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mainBox footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  z-index: 990;
}
.mainBox footer .boxList {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
  width: 200px\0;
  height: 200px\0;
}
.mainBox footer .boxList .homeList {
  width: 248px;
  height: 124px;
  position: absolute;
  left: 50%;
  bottom: -1px;
  margin-left: -124px;
  z-index: 9;
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translate3d(0, 0, -150px) rotateX(90deg);
          transform: translate3d(0, 0, -150px) rotateX(90deg);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 0s;
          transition: all 1s ease-in-out 0s;
}
.mainBox footer .boxList .homeList .waperBox {
  width: 248px;
  height: 124px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -124px;
  overflow: visible;
}
.mainBox footer .boxList .homeList .waperBox .pass {
  fill: #fff;
}
.mainBox footer .boxList .homeList .kgList {
  width: 94px;
  height: 94px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -47px;
  z-index: 9;
  -webkit-transition: all 1s ease 0s;
          transition: all 1s ease 0s;
}
.mainBox footer .boxList .homeList .kgList .fourNav {
  width: 94px;
  height: 94px;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}
.mainBox footer .boxList .homeList .kgList .fourNav span {
  display: block;
  width: 22px;
  height: 22px;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.home {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -11px;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.contact {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.heart {
  position: absolute;
  left: 50%;
  bottom: 0%;
  margin-left: -11px;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.pen {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.home span {
  background: url(../images/a7.png) no-repeat center center;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.home span:hover,
.mainBox footer .boxList .homeList .kgList .fourNav a.home span.on {
  background: url(../images/a8.png) no-repeat center center;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.contact span {
  background: url(../images/a5.png) no-repeat center center;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.contact span:hover,
.mainBox footer .boxList .homeList .kgList .fourNav a.contact span.on {
  background: url(../images/a6.png) no-repeat center center;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.heart span {
  background: url(../images/a3.png) no-repeat center center;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.heart span:hover,
.mainBox footer .boxList .homeList .kgList .fourNav a.heart span.on {
  background: url(../images/a4.png) no-repeat center center;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.pen span {
  background: url(../images/a1.png) no-repeat center center;
}
.mainBox footer .boxList .homeList .kgList .fourNav a.pen span:hover,
.mainBox footer .boxList .homeList .kgList .fourNav a.pen span.on {
  background: url(../images/a2.png) no-repeat center center;
}
.mainBox footer .boxList .homeList .kgList .fourNav .acr0 {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.mainBox footer .boxList .homeList .kgList .fourNav .acr0 a {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.mainBox footer .boxList .homeList .kgList .fourNav .acr1 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mainBox footer .boxList .homeList .kgList .fourNav .acr1 a {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.mainBox footer .boxList .homeList .kgList .fourNav .acr2 {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.mainBox footer .boxList .homeList .kgList .fourNav .acr2 a {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.mainBox footer .boxList .homeList .kgList .fourNav .acr3 {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.mainBox footer .boxList .homeList .kgList .fourNav .acr3 a {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mainBox footer .boxList .homeList .kgList .lines {
  width: 94px;
  height: 94px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.mainBox footer .boxList .homeList .kgList .lines:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 110px;
  border-top: 1px solid #635B59;
  -webkit-transform: rotate(45deg) translate3d(28px, 38px, 0);
          transform: rotate(45deg) translate3d(28px, 38px, 0);
}
.mainBox footer .boxList .homeList .kgList .lines:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 110px;
  border-top: 1px solid #635B59;
  -webkit-transform: rotate(-45deg) translate3d(-38px, 28px, 0);
          transform: rotate(-45deg) translate3d(-38px, 28px, 0);
}
.mainBox footer .boxList .homeList .faterkg {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -49px;
  z-index: 0;
}
.mainBox footer .boxList .homeList.active {
  -webkit-transform: translate3d(0, 0, 0px) rotateX(0deg);
          transform: translate3d(0, 0, 0px) rotateX(0deg);
  opacity: 1;
}
.mainBox footer .boxList .anBut {
  width: 72px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -36px;
  bottom: -1px;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out 0s;
          transition: all 1s ease-in-out 0s;
}
.mainBox footer .boxList .anBut.active {
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translate3d(0, 5px, 0) rotateX(90deg);
          transform: translate3d(0, 5px, 0) rotateX(90deg);
  opacity: 0;
}
.mainBox footer .language {
  float: left;
  margin-left: 3.5%;
  height: 100%;
  display: table;
  position: relative;
  width: 100px;
}
.mainBox footer .language .ns {
  font-size: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mainBox footer .language .ns a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #585858;
}
.mainBox footer .language .ns a:hover {
  background-color: #000000;
  color: #fff;
}
.mainBox footer .language .ns i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #000;
  margin: 0 10px;
}
.mainBox footer .language .ns .icons-sc {
  position: fixed;
  left: 66px;
  bottom: 8px;
}
.mainBox footer .language .ns .icons-sc img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.mainBox footer .icons {
  float: right;
  height: 100%;
  margin-right: 3.5%;
  font-size: 0;
  display: table;
}
.mainBox footer .icons .neis {
  display: table-cell;
  vertical-align: middle;
}
.mainBox footer .icons .neis a {
  width: 30px;
  height: 30px;
}
.mainBox footer .icons .neis i {
  display: inline-block;
  position: relative;
}
.mainBox footer .icons .neis i img {
  width: 80px;
  height: 80px;
  position: absolute;
  left: -22px;
  top: -114px;
  opacity: 0;
  -webkit-transition: all .5s ease 0s;
          transition: all .5s ease 0s;
}
.mainBox footer .icons .neis i .wx {
  background: url("../images/icon.jpg") no-repeat -263px -16px;
}
.mainBox footer .icons .neis i:hover img {
  opacity: 1;
}
.mainBox footer .icons .neis .wb {
  background: url("../images/icon.jpg") no-repeat -324px -16px;
}
.mainBox footer .icons .neis .email {
  background: url("../images/icon.jpg") no-repeat -385px -80px;
}
.mainBox footer .icons a {
  display: inline-block;
  font-size: 25px;
  color: #585858;
  margin: 0 10px;
  line-height: 0%;
}
.mainBox footer .icons a:first-child {
  font-size: 22px;
}
.mainBox footer .icons a:hover {
  color: #000;
}
.mainBox footer .copys {
  position: absolute;
  width: auto;
  height: auto;
  text-align: center;
  z-index: 99;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.mainBox footer .copys p {
  font-size: 12px;
  color: #666666;
  text-transform: uppercase;
  position: relative;
  z-index: 999;
}
